
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
header {
    background: red;
    color: whitesmoke;
}

header, section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    text-align: center;
}

.content
{
    border: none;
    padding: 2rem;
    margin: 5px;
    background: #ccc;
    border-radius: 5px;
}